.footer__link {
    display: block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}

@media (max-width: 425px) {
    .footer__link {
        padding-left: 0px;
        padding-bottom: 12px;
        font-size: 12px;
        line-height: 15px;
    }
  }