.footer__text {
    margin: 0;
    padding: 0 0 20px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

@media (max-width: 425px) {
    .footer__text {
        padding: 0 0 21px;
        font-size: 12px;
        line-height: 15px;
    }
  }