.footer__info {
    width: 90%;
    max-width: 1140px;
    min-width: 708px;
    padding-top: 20px;
    border-top: 1px solid #424242;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 767px) {
    .footer__info {
        min-width: 300px;
    }
  }

  @media (max-width: 425px) {
    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
    }
  }
